.p-exhibitor-events-index {
    a.exhibitor-event {
            text-decoration: none;
        
    }
}

.p-exhibitor-event-show {
    table, th, td {
        border: 1px solid #ccc !important;
    }

    table {
        margin: 0 auto;
    }

    th {
        min-width: 210px;
    }

    td {
        text-align: start;
    }

    img {
        display: block;
        margin: 0 auto;
    }
}