.p-exhibitor-exhibit-submission-form
{
    padding: 0 10%;
    margin: auto;

    table {
        margin: 0 auto;
        border-collapse: separate;
        border-spacing: 0 2rem;
    }

    .form-check-input {
        float: none !important;
    }
}