.p-event-show {
  margin: 0 auto;

  h2 {
    margin: 0;
    padding: 2rem;
    font-size: 2.5rem;
  }

  .main-banner {
    img {
      max-width: 100%;
      height: auto;
    }
  }

  .event-summary-wrapper {
    .event-summary-body {
      .left {
        padding: 2rem;
        text-align: start;

        p {
          margin-top: 3rem;
        }
      }

      .right {
        img {
          max-width: 100%;
          height: auto;
        }
      }
    }
  }

  .event-news-wrapper {
    .event-news-body {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      justify-content: center;
      align-items: center;
      width: 80%;
      margin: 50px auto;
      height: auto;

      .content {
        padding: 1rem;
        height: 100%;

        .card {
          box-shadow: 0 0 5px 5px rgba(171, 184, 195, 1);
          height: 100%;
        }

        h3 {
          font-size: 1.2rem;
          padding: 1rem;
        }

        p {
          margin-top: 1rem;
          font-size: 1.2rem;
        }
      }
    }
  }

  .event-recommend-wrapper {
    .event-recommend-body {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      justify-content: center;
      align-items: center;
      width: 80%;
      margin: 50px auto;
      height: auto;

      .content{
        padding: 2rem;
        height: 100%;
        text-align: left;

        .card {
          padding: 2rem;
          height: 100%;
        
          .icon-box {
            i {
              font-size: 30px;
            }
          }
        }
      }
    }
  }

  .event-feature-wrapper {
    .event-feature-body {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      justify-content: center;
      align-items: center;
      width: 80%;
      margin: 50px auto;
      height: auto;

      .content {
        padding: 2rem;
        height: 100%;

        .card {
          height: 100%;
          box-shadow: 0 0 5px 5px rgba(171, 184, 195, 1);
        }

        img {
          max-width: 100%;
          height: auto;
        }

        h3 {
          font-size: 1.6rem;
          padding: 1rem;
        }

        p {
          margin-top: 1rem;
          font-size: 1.2rem;
        }
      }
    }
  }

  .event-venue-map-wrapper {
    margin: 0 auto;
    max-width: 75%;

    .map {
      position: relative;
      width: 100%;
      height: 0;
      padding-top: 75%;
    }

    .map iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  .event-sponsor-wrapper {
    .event-sponsor-body {
      display: grid;
      grid-template-columns: repeat(auto-fit, 300px);
      gap: 20px;
      justify-content: center;
      align-items: start;
      width: 80%;
      margin: 50px auto;
      height: auto;

      a {
        text-decoration: none;
      }

      .content {
        padding: 20px;
        width: 100%;
        height: auto;
        text-align: center;
        box-sizing: border-box;
        border: solid 1px rgba(239, 239, 239, 1);
        box-shadow: 0px 0px 10px 0px rgba(171, 184, 195, 1);

        img {
          display: block;
          width: 100%;
        }

        h3 {
          font-size: 1.6rem;
          padding: 1rem;
        }
      }
    }
  }

  .event-contact-wrapper {
    .event-contact-body {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      justify-content: flex-start;
      align-items: center;
      width: 80%;
      margin: 50px auto;
      height: auto;

      .content {
        padding: 2rem;
        height: 100%;

        .form-group {
          margin-top: 1rem;
        }

        img {
          max-width: 100%;
        }
      }
    }
  }
}