.p-exhibit-informations-header
{
  text-align: center;
  width: 100%;
  background-color: #3a3a3a;
  height: 100px;
  color: white;
  font-family: "Lato", sans-serif;
  padding: 20px;

  h1 
  {
    margin: auto;
  }
}

.p-exhibit-informations-map
{
  width: 70%;
  margin: 20px auto;
  img
  {
    display: block;
    width: 100%;
  }
}

.p-exhibit-informations-navigation {
  
  margin: auto;
  width: 80%;

  h3 {
    text-align: left;
  }

  .navigation-buttons {
    width: 80%;
    margin: 20px 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 200px));
    gap: 1rem;
    align-items: start;
    justify-items: start;

    .navigation-button {
        border: 2px solid #ff8c00;
        border-radius: 10px;
        background-color: white;
        width: 80%;
        height: 50px;
        text-align: center;
        display: table;
        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);

      a {
        font-size: 2rem;
        text-decoration: none;
        color: #ff8c00;
        display: table-cell;
        vertical-align: middle;
      }
    }

    &.day {
      .navigation-button {
        border: 2px solid #dc143c;
        background-color: white;

        &.active {
          background-color: #dc143c;
          border: 2px solid #dc143c;
          font-size: 2rem;
          text-decoration: none;
          color: white;
          display: table-cell;
          vertical-align: middle;
        }
      }

      a {
        color: #dc143c;
      }
    }

    &.floor {
      .navigation-button {
        border: 2px solid #ff8c00;
        background-color: white;

        &.active {
          background-color: #ff8c00;
          border: 2px solid #ff8c00;
          font-size: 2rem;
          text-decoration: none;
          color: white;
          display: table-cell;
          vertical-align: middle;
        }
      }

      a {
        color: #ff8c00;
      }
    }

    &.place-block {
      grid-template-columns: repeat(auto-fit, minmax(200px, 200px));

      .navigation-button {
        border: 2px solid #1e73be;
        background-color: #1e73be;
      }

      a {
        color: white;
      }
    }
  }
}

.p-exhibit-informations-content {

  overflow-wrap: break-word;

  .exhibit-informations {
    @media screen and (min-width: 768px) {
      grid-template-columns: repeat(auto-fit, 300px);
    }
    @media screen and (max-width: 768px){
      grid-template-columns: 45% 45%;
    }
    display: grid;
    grid-gap: 2rem 5%;
    justify-content: center;
    align-items: start;
    width: 100%;
    margin: 50px auto;

    .exhibit-information-panel {
      padding: 20px;
      width: 100%;
      font-family: "Lato", sans-serif;
      height: auto;
      text-align: left;
      box-sizing: border-box;
      border: solid 3px #000;
      box-shadow: 5px 5px 0px 0px #F06;
      text-decoration: none;
  
      .exhibit-image {
        display: block;
        width: 100%;
      }

      h2 {
        font-size: 20px;
        font-weight: bold;
        margin: 1rem 0 0.2rem 0.2rem;
      }
  
      p {
        font-size: 15px;
        margin: 0 0 0.2rem 0.2rem;

        &.place {
          color: #888;
        }
      }
    }
  }
}

.exhibit-information {
  text-align: start;

  .exhibit-image {
    display: block;
    margin: 0 auto;
    max-height: 300px;
    max-width: 300px;
  }

  .circle-name {
    font-size: 1.2rem;
  }

  .place {
    font-size: 1.2rem;
  }

  .icons {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;

    .icon {
      width: 20%;
      margin: 0 5%;

      img {
        width: 100%;
        height: auto;
      }
    }
  }

  .movie {
    margin-top: 2rem;
    text-align: center;
  }

  .steam-widget-wrapper {
    margin-top: 2rem;

    iframe {
      width: 100%;
    }
  }
}
