.p-exhibit-informations-header
{
  text-align: center;
  width: 100%;
  background-color: #3a3a3a;
  height: 100px;
  color: white;
  font-family: "Lato", sans-serif;
  padding: 20px;

  h1 
  {
    margin: auto;
  }
}

.p-exhibit-informations-map
{
  width: 70%;
  margin: 20px auto;
  img
  {
    display: block;
    width: 100%;
  }
}

.p-exhibit-informations-navigation {
  
  margin: auto;
  width: 80%;

  h3 {
    text-align: left;
  }

  .navigation-buttons {
    width: 80%;
    margin: 20px 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 200px));
    gap: 1rem;
    align-items: start;
    justify-items: start;

    .navigation-button {
        border: 2px solid #ff8c00;
        border-radius: 10px;
        background-color: white;
        width: 80%;
        height: 50px;
        text-align: center;
        display: table;
        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);

      a {
        font-size: 2rem;
        text-decoration: none;
        color: #ff8c00;
        display: table-cell;
        vertical-align: middle;
      }
    }

    &.day {
      .navigation-button {
        border: 2px solid #dc143c;
        background-color: white;

        &.active {
          background-color: #dc143c;
          border: 2px solid #dc143c;
          font-size: 2rem;
          text-decoration: none;
          color: white;
          display: table-cell;
          vertical-align: middle;
        }
      }

      a {
        color: #dc143c;
      }
    }

    &.floor {
      .navigation-button {
        border: 2px solid #ff8c00;
        background-color: white;

        &.active {
          background-color: #ff8c00;
          border: 2px solid #ff8c00;
          font-size: 2rem;
          text-decoration: none;
          color: white;
          display: table-cell;
          vertical-align: middle;
        }
      }

      a {
        color: #ff8c00;
      }
    }

    &.place-block {
      grid-template-columns: repeat(auto-fit, minmax(200px, 200px));

      .navigation-button {
        border: 2px solid #1e73be;
        background-color: #1e73be;
      }

      a {
        color: white;
      }
    }
  }
}

.p-exhibit-informations-content {

  .exhibit-informations {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 300px));
    grid-gap: 10%;
    justify-content: center;
    align-items: start;
    width: 80%;
    margin: 50px auto;

    .p-exhibit-information {
      padding: 20px;
      width: 100%;
      font-family: "Lato", sans-serif;
      height: auto;
      text-align: left;
      box-sizing: border-box;
      border: solid 1px rgba(239, 239, 239, 1);
      box-shadow: 0px 0px 10px 0px rgba(171, 184, 195, 1);
  
      .exhibit-image {
        display: block;
        width: 100%;
      }
  
      h2 {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 10px;
        margin-left: 5px;
      }
  
      p {
        font-size: 15px;
        margin-bottom: 10px;
        margin-left: 5px;
      }
  
      .exhibit-movie {
        width: 80%;
        display: block;
        margin: auto;
  
        img {
          width: 100%;
        }
      }
    }
  }
}