.p-portal {
  background-color: lavenderblush;

  .content {
    padding: 10px;

    .content-header {
      border-radius: 20px 20px 0 0;
      background-color: #333;
      color: white;

      h2 {
        margin: 0;
        padding: 10px;
        text-align: start;
        font-size: 1.5rem;
      }
    }
  
    .content-body {
      background-color: white;
      padding: 10px;
      text-align: start;

      table {
          margin: 0 auto;
      
          h3 {
            font-size: 1rem;
          }
      
          img {
            max-width: 100%;
            height: auto;
          }
        }
      }
  
      .content-footer {
        height: 30px;
        border-radius: 0 0 20px 20px;
        background-color: white;
      }
    }

  .inner {
    padding-top: 20px;
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;

    @media screen and (max-width: 1200px){
      grid-template-columns: 1fr;
    }
  }
}