.p-portal {
  background-color: lavenderblush;

  .content {
      padding: 10px;
  
      .content-header {
        border-radius: 20px 20px 0 0;
        background-color: chocolate;
        color: white;
  
        h2 {
          margin: 0;
          padding: 10px;
          text-align: start;
          font-size: 1.5rem;
        }
      }
  
      .content-body {
        background-color: white;
        padding: 10px;
        text-align: start;

        table {
            margin: 0 auto;
        
            h3 {
              font-size: 1rem;
            }
        
            img {
              max-width: 100%;
              height: auto;
            }
          }
      }
  
      .content-footer {
        height: 30px;
        border-radius: 0 0 20px 20px;
        background-color: white;
      }
    }

  .inner {
    padding-top: 20px;
    width: 100%;

    .side-contents {
      .menu {
        padding: 10px;

        .menu-header {
          border-radius: 20px 20px 0 0;
          background-color: chocolate;
          color: white;

          h2 {
            margin: 0;
            padding: 10px;
            text-align: start;
            font-size: 1.5rem;
          }
        }

        .menu-body {
          background-color: white;
          padding: 10px;
          text-align: start;
        }

        .menu-footer {
          height: 30px;
          border-radius: 0 0 20px 20px;
          background-color: white;
        }
      }
    }

    .past-event-wrapper {
      padding: 10px;

      .past-event-header {
        border-radius: 20px 20px 0 0;
        background-color: chocolate;
        color: white;

        h2 {
          margin: 0;
          padding: 10px;
          text-align: start;
          font-size: 1.5rem;
        }
      }

      .past-event-body {
        background-color: white;
        padding: 10px;

        table {
          margin: 0 auto;

          h3 {
            font-size: 1rem;
          }

          img {
            max-width: 100%;
            height: auto;
          }
        }
      }

      .past-event-footer {
        height: 30px;
        border-radius: 0 0 20px 20px;
        background-color: white;
      }
    }
  }
}