.s-admin-header {
    background-color: #FF0066;
    height: 100px;
    display:flex;
    align-items: center;
    justify-content: flex-start;

    .logo {
        background-color: white;
        width: 290px;
    }
}