.s-admin-sidemenu {

  ul {
    background-color: turquoise;
    padding: 2rem;
  }

  li {
      display: block;
      height: 4rem;
      font-size: 1.5rem;
      color: white;
      text-decoration: none;
  }
}